<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>



<ion-content>
    <ion-title *ngIf='chat'>
      
        <p>{{ notice.author}}</p> 
        <p>{{notice.message}}</p>
       
       </ion-title>
    <ion-list lines="none" *ngIf='chat'>
        <ion-item *ngFor='let item of chat.notice'>
          <p>{{item}}</p>
        </ion-item>
    </ion-list>
    <ion-list lines="none" *ngIf='chat'>
        <ion-item *ngFor='let items of chat.likes'>
          <p>{{items}}</p>
        </ion-item>
    </ion-list>
</ion-content>





<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Insert your comment here" [(ngModel)]='notice.message'></ion-input>
    <ion-input placeholder="Insert your like here" [(ngModel)]='notice.author'></ion-input>
    
    <ion-button (click)='send()'>Send</ion-button>
  </ion-toolbar>
</ion-footer>

