<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf='chat'>
      <p>{{ chat.author}}</p> 
    </ion-title>  
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list lines="none" *ngIf='chat'>
      <ion-img src="{{chat.image}}"></ion-img>
      <h3>message:</h3><p>{{chat.message}}</p>
      <p >like:{{chat.likes}}</p>
      <h5>comments:</h5>
      <ion-item *ngFor='let item of chat.comments'>
       <ion-label><b>{{item.author}}</b>: {{item.message}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>





<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Insert your comment here" [(ngModel)]='notice.message'></ion-input>
   
    <!-- <ion-button (click)='send1()'>like</ion-button> -->
    <ion-button (click)='send()'>Send</ion-button>
  </ion-toolbar>
</ion-footer>

